*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham-fonts";
    src: url(../src/fonts/GothamBold.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px; 
}

.container{
    width: 50vw; 
    margin: 20px auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}   

.container .logo{
    font-family: "Gotham-fonts"; 
    letter-spacing: -1px;
    font-size: 26px; 
    margin: 30px 0; 
}

.container .logo i{
    font-size: 36px; 
    vertical-align: middle;
}

.container .headline{
    font-family: "Gotham-fonts";
    letter-spacing: -1px;
    font-size: 28px; 
    text-align: center;
    margin: 10px 0 20px; 
}

.signup-form{
    display: flex; 
    flex-direction: column;
}

.signup-form .input-fld{
    display: flex; 
    flex-direction: column;
    margin: 15px 0; 
}

.signup-form .input-fld label{
    margin-bottom: 5px; 
}

.signup-form .input-fld input{
    padding: 10px; 
    font-size: 15px; 
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid black; 
}

.signup-form .terms{
    margin-top: 30px; 
}

.signup-form .btn-grp{
    display: flex; 
    justify-content: center;
    margin: 20px auto; 
}

.signup-form .sign-up-btn{
    padding: 20px 40px;
    background: #1ed760; 
    border: none; 
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer; 
    font-family: "Gotham-fonts"; 
}

.signup-form .sign-up-btn:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in; 
}

.error{
    display: none; 
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.signup-form .input-fld .invalid-tag{
    border: 2px solid red; 
}

.invalid-msg {
    display: block; 
}

.success{
    background: linear-gradient(90deg, green, yellow); 
    padding: 20px 40px; 
    border-radius: 5px; 
    display: none; 
    margin: 40px auto; 
}

.info{
    font-size: 10px; 
    color: f4f4f4; 
    margin-top: 5px; 
}

@media all and (max-width: 480px){
    .container{
        width: 100vw; 
    }
}