*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham-fonts";
    src: url(../src/fonts/GothamBold.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    background: #1E1E1E;
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
}

header{
    background: rgba(16,16,16,1); 
    height: 65px; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    position: fixed; 
    width: 100vw; 
    z-index: 1; 
}

header button{
    font-size: 15px;
    font-weight: 700; 
    color: #a7a7a7; 
    background: transparent; 
    border: none; 
    margin-right: 30px; 
    word-spacing: 1px;  
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease-in-out;
    cursor: pointer; 
}

header button:hover{
    transform: scale(1.1);
    color: white; 
}

header .login-btn{
    font-weight: 700;
    background: white; 
    color: black; 
    padding: 15px 30px; 
    border-radius: 50px;
}

header .login-btn:hover{
    color: black; 
}

.mobile-nav{
    display: none; 
}

.navigation-menu{
    display: none; 
}

aside{
    background: #000; 
    z-index: 1;
    width: 18%;
    height: 100vh; 
    min-width: 200px;   
    display: flex; 
    padding: 20px 20px 0;  
    position: fixed; 
}

aside .logo{
    font-family: "Gotham-fonts";
    font-size: 26px;
    letter-spacing: -1px;
}

aside .logo .brand-icon {
    font-size: 40px; 
    vertical-align: middle;
}

aside nav ul {
    list-style: none;
    font-size: 18px; 
    margin-top: 40px;
}

aside nav ul li{
    margin: 20px 0 20px;
}

aside nav ul li .active{
    color: white; 
}

aside nav ul li a{
    color: #b3b3b3; 
    text-decoration: none;
    font-weight: 700; 
    font-size: 13px; 
}

aside nav ul li a .nav-icon{
    vertical-align: middle; 
    font-size: 20px; 
    padding-right: 10px; 
}

aside nav ul li a:hover {
    color: white;
}

main{
    display: flex; 
    flex-direction: column;
    color: white; 
    width: 100%; 
}

main section{
    display: flex; 
    margin: 20px; 
    margin-left: 280px;  
    margin-right: 30px; 
    flex-direction: column;
}

main section:first-child{
    margin-top: 90px; 
}

main section:last-child{
    margin-bottom: 120px; 
}

main section .part-1{
    color: white; 
    font-size: 15px; 
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

main section .part-1 .see-all{
    display: inline-block; 
    font-size: 12px; 
    text-transform: uppercase;
    color: #b3b3b3; 
    font-weight: 700;
}

main section .part-1 h2:hover{
    text-decoration: underline;
    cursor: pointer; 
}

main section .part-1 .see-all:hover{
    text-decoration: underline;
    cursor: pointer; 
}

main section .part-2{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    overflow: hidden; 
}

main section .part-2 .card{   
    display: flex; 
    flex-direction: column;
    /* align-items: center; */
    padding: 15px; 
    margin-right: 20px;
    background: #181818;  
    border-radius: 5px;
    min-width: 192px; 
    min-height: 296px;
}

main section .part-2 .card:last-child{
    margin-right: 0;
}

main section .part-2 .card img{
    width: 100%; 
    border-radius: 5px;
}

main section .part-2 .card .thumbnail{
    position: relative; 
    z-index: 0;
}

main section .part-2 .card .thumbnail i{
    font-size: 50px;  
    color: #5ADF65; 
    background: black; 
    border-radius: 50%;
    border: none; 
    position: absolute; 
    bottom: 10px; 
    right: 7px; 
    display: none;
}

main section .part-2 .card:hover{
    background: #282828; 
    cursor: pointer; 
}

main section .part-2 .card:hover .thumbnail i{ 
    display: block; 
}

main section .part-2 .card .card-title{
    font-size: 15px; 
    margin: 20px 0; 
}

main section .part-2 .card .card-content{
    font-size: 12px; 
    line-height: 18px;
    color: #b3b3b3; 
    word-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5px; 
}

footer{
    width: 100vw; 
    height: 70px; 
    z-index: 2; 
    position: fixed; 
    bottom: 0; 
    background: linear-gradient(90deg, #af2896, #509bf5);
    padding: 20px; 
    border-top: 1px solid black; 
    display: flex; 
    align-items: center;
}

footer section{
    display: flex; 
    width: 97%; 
    margin: 0 auto; 
    align-items: center; 
    justify-content: space-between;
}

footer section .left-content .heading{
    font-size: 12px; 
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 5px; 
    text-transform: uppercase;
}

footer section .left-content .content{
    font-weight: 700; 
    font-size: 14px; 
    word-spacing: 2px;
}

footer section .right-content button{
    font-weight: 700;
    background: white;
    color: black;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 14px; 
    border: none; 
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease-in-out;
    cursor: pointer; 
}

footer section .right-content button:hover{
    transform: scale(1.1);
}

@media all and (max-width: 480px){
    header{
        display: none; 
    }

    .mobile-nav{
        display: flex;
        justify-content: space-between; 
        background: maroon; 
        padding: 10px; 
    }

    .mobile-nav .mobile-logo{
        font-size: 24px; 
        font-family: "Gotham-fonts";
        letter-spacing: -1px;
    }

    .mobile-nav .company-logo{
        font-size: 36px; 
        vertical-align: middle;
    }

    .mobile-nav .part-2-header{
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav .mobile-nav-icon{
        font-size: 25px; 
        margin-right: 10px; 
        color: white; 
    }
    
    .mobile-nav .open-app-btn{
        background: white; 
        color: black; 
        padding: 10px 20px;
        border-radius: 20px;  
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .navigation-menu{
        display: none; 
        flex-direction: column;
        background: black; 
        color: white; 
        height: 100vh; 
        width: 100vw; 
        padding: 20px 25px 30px 50px; 
    }

    .navigation-menu #cross-btn{
        font-size: 25px; 
        margin-left: auto;
    }

    .navigation-menu ul {
        list-style: none;
        font-size: 20px;
        font-weight: 700;
    }

    .navigation-menu ul .big-text{
        font-size: 26px; 
    }

    .navigation-menu ul li{
        margin: 15px 0;
    }

    .navigation-menu ul li a {
        text-decoration: none;
        color: white; 
    }

    aside{
        display: none; 
    }

    main {
        background: black; 
    }

    main section{
        margin: 20px 20px 0; 
    }

    main section .part-1 h2{
        font-size: 17px; 
    }

    main section .part-1 .see-all{
        display: none; 
    }

    main section .part-2{
        overflow: scroll; 
    }

    main section .part-2 .card{
        min-height: 80px; 
        align-items: center;
        background: transparent; 
        padding: 0; 
        min-width: 160px;
        /* min-width: 320px;  */
    }

    main section .part-2 .card img{
        border-radius: 0;
    }

    main section .part-2 .card .card-title{
        font-size: 12px; 
        margin-top: 7px;
    }

    main section .part-2 .card .card-content{
        display: none; 
    }

    footer{
        display: none; 
    }

    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
        display: none; 
    }
}