*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham-fonts";
    src: url(../src/fonts/GothamBold.ttf);
    font-weight: 700;
    font-style: normal;
}

header{
    height: 65px; 
    background: rgba(16, 16, 16, 1);
    color: white; 
    font-family: "Gotham-fonts";
    letter-spacing: -1px;
    padding-left: 20px; 
    display: flex;
    align-items: center;
    font-size: 26px; 
    width: 100%; 
    position: fixed;
    top: 0;
}

header .brand-icon{
    font-size: 40px; 
    vertical-align: middle;
}

header .user-greeting{
    margin-left: auto; 
    margin-right: 30px; 
    font-size: 18px; 
}

.name {
    font-size: 20px; 
    color: #219ebc; 
}

body{
    background: #1E1E1E;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-top: 100px; 
}

.first-head, .second-head{
    color: white; 
    font-size: 32px; 
    margin-bottom: 5px; 
    text-align: center;
}

.second-head{
    color: #219ebc; 
}

.user-icon{
    margin-left: 10px;
    font-size: 20px;  
}

.container{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%; 
    margin: 50px auto; 
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.product{
    background: #181818; 
    color: #b3b3b3; 
    display: flex; 
    justify-content: center;
    margin: 0 30px 30px 0; 
    height: 300px; 
    max-width: 550px; 
    border-radius: 10px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.product:hover{
    cursor: pointer; 
    background: #282828; 
}

.product-img {
    width: 250px; 
    margin-right: 20px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    height: 100%;  
}

.product-desc{
    flex: 1; 
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 22px;
    height: 100%; 
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px; 
    padding-left: 0; 
    text-align: left;
}

.title{
    color: white; 
    font-size: 16px; 
    font-weight: 700;
    word-spacing: 1px;
    margin-bottom: 10px;
}

.title:hover{
    text-decoration: underline;
}

.category{
    color: lightgreen; 
    margin-bottom: 5px;
}

.description{
    margin-bottom: 10px;
    flex: 1;
}

.price{
    font-size: 30px; 
    color: #219ebc;
    margin-top: 15px; 
}

.dollar{
    vertical-align: middle; 
    font-size: 17px; 
    margin-right: 3px; 
}

.rating{
    color: #DBAD6A;
}

.rating-icon{
    font-size: 13px; 
    color: yellow; 
    margin-right: 2px; 
}

.count{
    margin-left: 2px; 
}

.cross{
    font-size: 25px; 
    color: red; 
    margin-right: 5px;
    vertical-align: middle;
}

.error{
    color: white; 
    background-color: #282a35; 
    padding: 20px; 
    border-radius: 5px;
    width: 70vw; 
}

.error a, .error a:visited{
    color: white; 
    font-weight: 600;
}

@media all and (max-width: 768px){
    .container{
        width: 100%; 
    }   

    .product{
        margin-right: 0; 
        margin-bottom: 30px; 
    }
}

@media all and (max-width: 480px){

    .first-head, .second-head{
        font-size: 26px; 
    }

    .container{
        width: 90%; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product{
        flex-direction: column;
        height: max-content; 
        align-items: center;
        background: #282828; 
    }

    .product-desc{
        padding: 25px; 
    }

    .product-img{
        /* margin-bottom: 20px;  */
        width: 100%; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        height: 30%; 
    }

    .error{
        width: 90vw; 
    }
}
